*{
	margin: 0px;
	padding: 0px;
}
body{
	font-family: roboto;
}

header {
	height: 72px;
	width: 100%;
	padding: 0 8%;
	background-color: #f7f7f7;
	display: flex;
	justify-content:space-between;
	align-items: center;
	position: fixed;
	top: 0;
	z-index: 21;
}
a{
	color:rgb(179, 179, 179);
	
}
a:hover {
	text-decoration: none; 
	font-family: "Montserrat";
	font-weight: normal;
	font-size: 20px;
	letter-spacing: normal;
	color:rgb(153, 153, 153);
	text-decoration: underline;
	}

#nombre {
	font-family: "Montserrat";
	font-size: 18px;
	letter-spacing: 1pt;
    font-weight: normal;
	line-height: 20px;
}
#job {
	font-family: "Montserrat";
	font-size: 18px;
	letter-spacing: 0,8pt;
	font-weight: lighter;
	color: rgb(173, 173, 173);
	margin-left: 10px;
}

.nav{
	display: flex;
	list-style: none;
	justify-content: space-between;
	font-family: "Montserrat";
}
.navigation a{
	font-family: "Montserrat";
	font-weight: normal;
	font-size: 16px;
	letter-spacing: normal;
	margin-left: 30px;

}
#active{
	color: rgb(53, 53, 53);
	
}