@import url('https://fonts.googleapis.com/css?family=Montserrat:100,300,400|Roboto:300');

*{
	margin: 0px;
	padding: 0px;
}
html{
	scroll-behavior: smooth;
}
body{
	font-family: roboto;
}

header {
	height: 72px;
	width: 100%;
	padding: 0 8%;
	background-color: #f7f7f7;
	display: flex;
	justify-content:space-between;
	align-items: center;
	position: fixed;
	top: 0;
	z-index: 21;
}
a{
	color:rgb(190, 190, 190);	
}
a:hover {
	text-decoration: none; 
	font-family: "Montserrat";
	font-weight: normal;
	/* font-size: 20px; */
	letter-spacing: normal;
	color:rgb(153, 153, 153);
	}

	#logo div span {
		text-decoration: none;
	}

#nombre {
	font-family: "Montserrat";
	font-size: 18px;
	letter-spacing: 1pt;
	font-weight: normal;
	color: black;
	line-height: 20px;
}
#job {
	font-family: "Montserrat";
	font-size: 18px;
	letter-spacing: 0,8pt;
	font-weight: lighter;
	color: rgb(173, 173, 173);
	margin-left: 10px;
}

.nav{
	display: flex;
	list-style: none;
	justify-content: space-between;
	font-family: "Montserrat";
}
.navigation a{
	font-family: "Montserrat";
	font-weight: normal;
	font-size: 16px;
	letter-spacing: normal;
	margin-left: 30px;
}
.navigation a:hover {
	text-decoration: underline;
}

#active{
	color: rgb(131, 131, 131);
	
}
.info {
	display:flex;
	height: 600px;
	align-items: flex-start;
	justify-content: space-between;
	/* background-color: rgb(91, 223, 30); */
	margin-left: 8%;
	margin-right: 8%;
	padding-top: 150px;
}

.profile_img{
	width: 500px;
	margin-left: 100px;
}
.profile_text{
	width: 50%;
	height: 330px;
	/* background-color: tomato; */
	padding-right: 30px;
	padding-top: 30px;
	font-size: 16px;
}
.footer { 
	width: 100%;
	height: 30px;
	/* background-color: blueviolet; */
	font-family: "Montserrat";
	font-weight: lighter;
	font-size: 16px;
	text-align: center;
	letter-spacing: 0pt;
}