*{
	margin: 0px;
	padding: 0px;
}
body{
	font-family: roboto;
}

header {
	height: 72px;
	width: 100%;
	padding: 0 8%;
	background-color: #f7f7f7;
	display: flex;
	justify-content:space-between;
	align-items: center;
	position: fixed;
	top: 0;
	z-index: 21;
}
a{
	color:rgb(179, 179, 179);
	
}
a:hover {
	text-decoration: none; 
	font-family: "Montserrat";
	font-weight: normal;
	font-size: 20px;
	letter-spacing: normal;
	color:rgb(153, 153, 153);
	text-decoration: underline;
	}

#nombre {
	font-family: "Montserrat";
	font-size: 18px;
	letter-spacing: 1pt;
    font-weight: normal;
	line-height: 20px;
}
#job {
	font-family: "Montserrat";
	font-size: 18px;
	letter-spacing: 0,8pt;
	font-weight: lighter;
	color: rgb(173, 173, 173);
	margin-left: 10px;
}

.nav{
	display: flex;
	list-style: none;
	justify-content: space-between;
	font-family: "Montserrat";
}
.navigation a{
	font-family: "Montserrat";
	font-weight: normal;
	font-size: 16px;
	letter-spacing: normal;
	margin-left: 30px;

}
#active{
	color: rgb(53, 53, 53);
	
}
	
.intro {
	padding-left: 8%;
	padding-right:8%;
	padding-top:10%;
	padding-bottom:9%;
	background: #f7f7f7;
}

.text-presentation {
	height: 300px;
	width: 100%;
	font-family: "Montserrat";
	font-weight: lighter;
	font-size: 35px;
	text-align: center;
	letter-spacing: 1pt;
	line-height: 45px;
	padding-top: 105px;
	padding-left: 70px;
	padding-right: 70px;
}

#tittle {
	color:royalblue;
	font-size: 30px;
}

.main {
	max-width: 1000px;
	margin: auto;
  }
  

.row {
	width: 100%;
	height: 100%;
	margin: 0px 0px;
	padding-top:40px;
	justify-content:center;
  }
  
  /* Add padding BETWEEN each column (if you want) */

.column {
	width: 85%;
	/* height: 360px; */
	display: flex;
	justify-content: space-between;	
	/* flex-wrap: wrap; */
	/* align-content:flex-start; */
	align-items:center;	
	padding: 0px;
  }
 
.row:after {
	content: "";
	display: table;
	clear: both;
  }
  
  /* Content */
.content {
	display: flex;
	width: 48%;
	/* height: 100%; */
	position:relative;
	align-items:center;
  }
	
	.content:hover .article-text{
		width: 100%;
		height: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
		position: absolute;
		text-align: center;
		z-index: 20;	
		flex-direction: column;
		font-family: "MONTSERRAT";
		color:rgb(255, 255, 255);
		font-size: 22px;
		letter-spacing: 4px;
	}

	.content:hover .article-text-sub {
		display: flex;
		z-index: 20;	
		flex-direction: column;
		align-items: center;
		justify-content: center;
		position: absolute;
		font-family: "MONTSERRAT";
		font-weight: lighter;
		color:rgb(255, 255, 255); 
		font-size: 20px;
		text-align: center;
		margin-top: 26px;
	
	}

	.content:hover > #hover-color-clues{
		display: block;
		width: 100%;
		height: 100%;
		position: absolute;
		background-color:rgb(111, 218, 203);
		opacity: 0.8;
		cursor: grab;
	}

	#hover-color-clues{
	display:none;
	}

	.content:hover > #hover-color-f-cosmetics{
		display: block;
		width: 100%;
		height: 100%;
		position: absolute;
		background-color:rgb(252, 143, 157);
		opacity: 0.7;
		cursor: grab;
	}
	#hover-color-f-cosmetics{
		display:none;
		}

	#hover-color-clues{
			display:none;
			}

	.article-text{
		display:none;
		}

	.content img {
		width:100%;
	}

	.salto-de-texto{
		/* margin-top: 50px; */
	}
	#card-article-container{
		background-color:rgb(225, 188, 65);
		display: flex;
		flex-direction: row;
		justify-content: space-evenly;
		
	}
	.card-article { 
		width: 567px;
		height: 360px;
		border-radius: 3px;
		transition: all 0.17s;
		background-color: blue;
		margin-left: 20px;
		margin-right: 20px;
	}
	
	.card-article:hover { 
		transition: all 0.17s;
		background-color: rgb(0, 190, 117);
		cursor: grab;
	}

  /* Responsive layout - makes a two column-layout instead of four columns */
  @media screen and (max-width: 900px) {
	.column {
	  width: 50%;
	}
  }
  
  /* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
	.column {
	  width: 100%;
	}
  }

	
#footer { 
	font-family: Helvetica Neue;
	font-weight: 70;
	font-size: 15px;
	text-align: center;
	letter-spacing: 1pt;
}